.recipe {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.651);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    padding: 0.5rem;
}

.image {
    border-radius: 5%;
    margin: 10px;
}